.deco-ceiling {
  width: 100%;
  height: 40px;
}

.deco-columns {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.deco-columns--column {
  position: absolute;
  width: 120px;
  height: 100%;
  z-index: -1;

  &.--right {
    right: 0;
  }
}

.deco-columns--head {
  position: absolute;
  width: 160px;
  top: 40px;
  height: 40px;
  z-index: -1;

  &.--right {
    right: 0;
  }
}
