<nav class="nav">
  <ul class="nav--list">
    <% for (var menuItem in theme.menu){ %>
      <li class="nav--item">
        <a class="nav--link" href="<%- url_for(theme.menu[menuItem]) %>">
          <%= menuItem %>
        </a>
        <img class="nav--image"/>
      </li>
    <% } %>
  </ul>
</nav>
