<%- partial('_partial/head') %>
<body>
  <header>
    <div class="deco-ceiling"></div>
    <img class="logo" />
  </header>
  <%- partial('_partial/nav') %>
  <main class="container">
    <%- body %>
  </main>
  <footer>
    <%- partial('_partial/footer') %>
  </footer>
</body>
</html>
