<%- partial('_partial/head') %>
<body>
  <div class="deco-columns">
    <div class="deco-columns--column --left"></div>
    <div class="deco-columns--column --right"></div>
    <div class="deco-columns--head --left"></div>
    <div class="deco-columns--head --right"></div>
  </div>
  <div class="deco-ceiling"></div>
  <header>
    <img class="logo" />
  </header>
  <%- partial('_partial/nav') %>
  <main class="container">
    <%- body %>
  </main>
  <footer>
    <%- partial('_partial/footer') %>
  </footer>
</body>
</html>
